@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --font-color: black;
  }
}

:root {
  --background: linear-gradient(white,rgb(204, 199, 199));;
  --foreground: #171717;
  --font-color: black;
}

body {
  background: var(--background);
  color: var(--font-color);
  font-family: var(--font-poppins);
  overflow-x: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}